services:
  - type: web
    name: hrvibe_h_callback_endpoint
    env: python
    plan: free
    buildCommand: |
      pip install -r requirements.txt
    startCommand: |
      uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: ADMIN_TOKEN
        sync: false

